<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sneaker History</title>
</head>
<body>
  <div>
    <div>
      <h3>Air Force One</h3>
      <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.nike.com%2Fair-force-1&psig=AOvVaw0aE5yqvnddGqlWTuV0EeQR&ust=1633710260482000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCID7mpHbuPMCFQAAAAAdAAAAABAE"></a>
    </div>
  </div>

  <section>  
    <div>
      <a href="/">
      Back
      </a>
    </div>

  <div>Kicks:</div>
    <div><%= sneaker.userId %> </div>
    <div><%= sneaker.kicks %></div>
    <div>Release Year:</div>
    <div><%= sneaker.releaseYear %></div>
    <div><%= sneaker.rating %> </div>

  </section>
  
  <br><br>

  
  <h2>What do you think of these Kicks?</h2>
  <form

    id="add-review-form"
    method="POST"
    action="/sneakers/<%= sneaker._id %>/review">

    <label>Review:</label>
    <textarea name="descrip"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    <input type="submit" value="Add Review" />

  </form>

 <% if (sneaker.review.length) { %>
    <table>
      <thead>
        <tr>
          <th>Review</th>
          <th>Rating</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        <% sneaker.review.forEach(function(s) { %>
          <tr>
            <td><%= s.descrip %></td>
            <td><%= s.rating %></td>
            <td><%= s.userId %> </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Reviews Yet</h5>
  
<% } %>

<% sneaker.review.forEach(function(r) { %> 
  <div>
    <%= r.descrip %>
    <%= r.rating %>
    <form action="/review/<%= r._id %>?_method=DELETE" method="POST">
        <button type="submit">X</button>
      </form>
      <% }) %>
  </div>


<% sneaker.review.forEach(function(r){ %> 
  <div>
    <form action="/review/<%= r._id %>?_method=PUT"    method="POST">
    <input type="text" 
      name="descrip" 
      value="<%= r.descrip %>"
    >
    <select name="rating" 
      value='<%= r.rating %>'
      >
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    
      <button type='submit'>Update Comment</button>
    </form>
  </div>

<% }) %>    
</body>
<footer>Sneaker Knowledge</footer>
</html>