<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Akronim&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <title>Sneaker Creator</title>
</head>
<header>
  <nav class="topnav">
    <a href="/sneakers">
        Back
        </a>
        <li class="ig" id="logout">
          <a class="lg" href="/sneakers">Sneaker Reviews</a> 
          <% if (user) { %>
            <a  href="/logout">Log Out</a>
          <% } else { %>
            <a href="/auth/google"> Login with Google</a>
          <% } %>   
            
        </li>
  </nav>
</header>


<body class="adf">
  <article>
    <h1 id="kickers">Sneaker Details</h1>
    <div id="kkicks">Kicks:</div>
    <div><%= sneaker.kicks %></div>
    <div id="kkicks">Color Way:</div>
    <div><%= sneaker.colorWay %> </div>
    <div><%= sneaker.rating %> </div>
    <br><br>
  </article>
  <div class="bg-image"></div>
  <h2>What do you think of these Kicks?</h2>
  <form
    
    id="add-review-form"
    method="POST"
    action="/sneakers/<%= sneaker._id %>/review">

    <label><b>Review:</label>
    <textarea name="descrip"></textarea>
    <br>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    <input type="submit" value="Add Review" />

  </form>
<div class="dru">
 <% if (sneaker.review.length) { %>
    <table>
      <thead>
        <tr>
          <th>Review</th>
          <th>Rating</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody class="adf">
        <% sneaker.review.forEach(function(s) { %>
          <tr>
            <td colspan="2"><%= s.descrip %></td>
            <td colspan=""><%= s.rating %></td>
            <td colspan="1"><%= s.userId %> </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Reviews Yet</h5>
  
<% } %>

<% sneaker.review.forEach(function(r) { %> 
  
    <%= r.descrip %>
    <%= r.rating %>
    <form action="/review/<%= r._id %>?_method=DELETE" method="POST">
        <button type="submit">X</button>
      </form>
      <% }) %>

      

<% sneaker.review.forEach(function(r){ %> 
 
    <form action="/review/<%= r._id %>?_method=PUT"    method="POST">
    <input type="text" 
      name="descrip" 
      value="<%= r.descrip %>"
    >
    <select name="rating" 
      value='<%= r.rating %>'
      >
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    
      <button type='submit'>Update Comment</button>
    </form>
</div>

<% }) %>    

</body>

<footer>
   <h4>Sneaker Creator</h4> 
</footer>
</html>